<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.bnbd.mapper.LoginMapper">
	
	<select id="loginProcess" parameterType="LoginBean" resultType="Integer">
		SELECT COUNT(0)
		FROM bnbd_member
		WHERE ID = #{adminId}
	      AND PASSWORD = #{password}
	</select>
	
	<select id="SelectMinIp" resultType="String">
		SELECT	MIN(id)
		FROM bnbd_member
	</select>
	
</mapper>